body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-style: normal;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
/*=========HEADER=======*/
.header-container {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  background: #fff;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo {
  color: #404bbf;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-word {
  color: #2e2f42;
  width: 71px;
}
.nav-container {
  display: flex;
  align-items: center;
}
.contacts {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}
.nav-items {
  display: flex;
  flex-direction: row;
  gap: 40px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.nav-links {
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-links.after-active::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  margin-top: 20px;
  border-radius: 2px;
  background: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.after-active {
  color: #404bbf;
}
.nav-links:focus {
  color: #404bbf;
}
.address-container {
  font-style: normal;
  text-decoration: none;
  padding: 24px 0;
}
.contacts-links {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-links:hover {
  color: #404bbf;
}
.contacts-links:focus {
  color: #404bbf;
}
/*=========HERO SECTION=======*/
.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/bg.jpg');
  margin: 0 auto;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.btn-order-service {
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px #00000026;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-order-service:hover {
  background-color: #404bbf;
}
.btn-order-service:focus {
  background-color: #404bbf;
}
/*======== 2 Section ========*/
.container-features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.second-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-icons-list {
  width: 264px;
  height: 112px;
  display: flex;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 24px;
  margin-bottom: 8px;
}

.features-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}
.features-list-item {
  flex-basis: calc((100% - 72px) / 4);
}
.third-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 0px;
}
.features-title {
  margin-bottom: 8px;
}
.list-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
/*======= 3 Section =======*/
.container-team-section {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.our-team-title {
  text-align: center;
  margin-bottom: 72px;
}
.team-list li {
  background-color: #ffffff;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-list-item {
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-description {
  padding: 32px 0;
}
.list-text-center {
  text-align: center;
  margin-bottom: 8px;
}
.third-title-center-style {
  text-align: center;
  margin-bottom: 8px;
}
.social-net-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}
.social-icons-ref {
  display: flex;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-ref:hover,
.social-icons-ref:focus {
  background-color: #404bbf;
}

/*========= 4 Section ========*/
.container-portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.third-title-left-style {
  text-align: left;
  margin-bottom: 8px;
}
.text-relative {
  position: relative;
  overflow: hidden;
}
.text-absolute {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .text-absolute {
  transform: translateY(0%);
}
/*======= Footer ======*/
.container-footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.logo-container {
  margin-right: 120px;
}

.logo-footer {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-word-white {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.text-social {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.social-media-cont {
  margin-right: 80px;
}
.footer-social-net-list {
  gap: 16px;
}
.container-footer .social-icons-ref:hover,
.container-footer .social-icons-ref:focus {
  background-color: #31d0aa;
}
/*-----Footer form------*/

.footer-form-p {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-email-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.footer-email-input::placeholder {
  color: #ffffff;
}
.footer-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.footer-icon {
  margin-left: 16px;
  fill: #ffffff;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover .modal-close,
.close-btn:focus .modal-close {
  fill: #ffffff;
}
.modal-text {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  width: 100%;
}
.modal-label {
  color: #8e8f99;
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  outline: 0px solid transparent;
  border-color: 1px solid #8e8f99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label:focus {
  border-color: #404bbf;
}
.modal-input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
  background-color: transparent;
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-box {
  position: relative;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*.modal-box:hover .modal-icon,
.modal-box:focus .modal-icon {
  fill: #4d5ae5;
}*/
.modal-field {
  margin-bottom: 8px;
}

.modal-comment {
  width: 360px;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  /*height: 336px;*/
  padding: 8px 16px;
  align-items: top;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 0px solid transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal-comment:focus {
  border-color: #4d5ae5;
}
.modal-field {
  margin-bottom: 8px;
}
.comment-wrapper {
  margin-bottom: 16px;
}
.checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-own-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  fill: transparent;
}
.review-form-checkbox:checked
  + .review-form-checkbox-label
  > .review-form-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.review-form-checkbox:focus
  + .review-form-checkbox-label
  > .review-form-own-checkbox {
  outline: 1px solid #404bbf;
}
.review-form-own-checkbox-icon {
  opacity: 1;
  fill: #ffffff;
  align-content: center;
}
.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox-icon {
  opacity: 1;
}
.review-form-checkbox-label {
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.policy-reference {
  color: #4d5ae5;
}
.review-form-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 24px auto;
  border: none;
  color: #ffffff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
